/* FORM */
.search-form {
    margin: 70px 0;
    display: flex;
    justify-content: flex-start;
}

.search-form input {
    width: 50%;
    appearance: none;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 12px 0 0 12px;
    font-size: 16px;
    padding: 0.5rem;
    height: 40px;
}

.search-btn {
    border: 1px solid #fff;
    border-radius: 0 12px 12px 0;
    height: 40px;
    width: 60px;
    background: white url('./img/search_icon.svg') no-repeat;
    background-size: 30px;
    background-position-y: 25%;
    background-position-x: 30%;
}

.searched-titles {
    font-size: 35px;
    font-weight: 300;
}

/* Artists block */

.searched-artists-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
}